
@{
    ViewBag.Title = "Area Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text-green {
        color: #158e31 !important;
    }

    #map {
        margin-bottom: 50px;
        height: 400px;
        width: 100%;
        display: none;
    }
</style>

<script src="~/assets/js/locationmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcimpXOj5Dp3IYAnXTyiTOOYnLFE-1-to&callback=initMap" async defer></script>
<!-- Start Contact Area  -->
<div class="axil-contact-page-area axil-section-gap">
    <div class="container">
        <div class="axil-contact-page">
            <div class="row row--30">
                <div class="col-xl-8 col-lg-8 col-sm-12 offset-lg-2 offset-xl-2">
                    <div class="contact-form">
                        <h3 class="title mb--10">Select Area/Suburb</h3>
                        <p>Select your area/Suburb for better result near by.</p>
                        <form method="get" action="/Categories/TradesPerson">
                            <input type="hidden" value="@Request.QueryString["serviceid"]" name="sid" />
                            <input type="hidden" value="@Request.QueryString["subcateid"]" name="scid" />
                            <input type="hidden" value="@Request.QueryString["cateid"]" name="cid" />
                            <div class="row row--10">
                                <div class="col-lg-12">                                    
                                    <div class="form-group">
                                        <label>City/Town <span>*</span></label>
                                        @Html.DropDownList("CityID", null, "Select Your City/Town", htmlAttributes: new { required = "required", onchange = "getAreaSuburb(this.value)" })
                                    </div>
                                    <div class="form-group">
                                        <label>Set Business Area <span>*</span></label>
                                        @Html.DropDownList("PostalCodeID", new SelectList(Enumerable.Empty<SelectListItem>()), htmlAttributes: new
                                        {
                                            required = "required",
                                       onchange = "setareaID(this.value, this.options[this.selectedIndex].text)"
                                        })
                                    </div>
                                    <p id="pRadius" class="mb-2" style="color:green"></p>
                                    <div id="map"></div>
                                </div>
                                <div class="col-12 mt--20">
                                    <div class="form-group mb--0">
                                        <button type="submit" class="axil-btn btn-bg-primary">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area  -->
