@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    var result = db.CategoryTbls.Where(s => s.IsActive == true).Select(s => new { s.Id, s.CategoryName, s.Image }).ToList();
}

<div class="axil-categorie-area bg-color-white axil-section-gapcommon">
    @if (TempData["FailMessage"] != null)
    {
        <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="success-alert" class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
    }
    @if (result.Count > 0)
    {
        <h4 class="text-center">What do you need to help with?</h4>
        <div class="axil-shop-area bg-color-white">
            <div class="container">
                <div class="row row--15">
                    @foreach (var item in result)
                    {
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="categrie-product categrie-product-3" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                                <a href="/Categories/Subcategories?cateid=@item.Id">
                                    <img class="img-fluid" src="@item.Image" alt="@item.CategoryName">
                                    <h6 class="cat-title">@item.CategoryName</h6>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!--<div class="row row--15 mt--50">
            <div class="col-xl-12 col-lg-12 col-sm-12 text-center">
                <p>Missing a service category? If you need a new category listed send us a message.</p>
                <button data-bs-toggle="modal" data-bs-target="#category" style="width:265px" class="axil-btn btn-bg-primary">Request a new category</button>
                <div class="modal fade" id="category" tabindex="-1">
                    <div class="modal-dialog">-->
                        <!-- Modal content-->
                        <!--<form method="post" action="/Categories/SendRequest">
                            @Html.AntiForgeryToken()
                            <div class="modal-content">
                                <div class="modal-header mb--30">
                                    <h6 class="modal-title text-center">Send a new category request</h6>
                                    <button type="button" style="width:20px" class="close" data-bs-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row row--10">
                                        <div class="col-lg-12 p-3">
                                            <div class="form-group">
                                                <label>Your Name</label>
                                                <input type="text" name="RequesterName" id="RequesterName" required />
                                            </div>
                                            <div class="form-group">
                                                <label>I am a?</label>
                                                <select name="RequesterType" id="RequesterType" required>
                                                    <option value="Tradesperson">Tradesperson</option>
                                                    <option value="Customer">Customer</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Category Name</label>
                                                <input type="text" name="CategoryName" id="CategoryName" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Message</label>
                                                <textarea name="Message" id="Message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="axil-btn btn-bg-primary">Submit Request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
    }
    else
    {
        <h3 style="text-align:center">No Categories Found</h3>
    }
</div>
