
@{
    ViewBag.Title = "Subcategories";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    int cateid = int.Parse(Request.QueryString["cateid"]);
    string catename = "Sub Categories";
    var result = db.SubCategoryTbls.Where(s => s.IsActive == true && s.CategoryId == cateid).Select(s => new { s.Id, s.CategoryId, s.SubCategoryName }).ToList();
    if (result.Count > 0)
    {
        catename = db.CategoryTbls.Where(s => s.IsActive == true && s.Id == cateid).Select(s => s.CategoryName).FirstOrDefault();
    }

    var tradespersons = db.ProviderTbls.Where(s => s.IsActive == true && s.IsAvailable == true && s.ProviderServicesTbls.Any(ps => ps.IsActive) && s.StatusID == 2 && s.ProviderServicesTbls.Any(ss => ss.ServiceTbl.CategoryID == cateid)).Select(s => new { s.Id, s.ProviderName, s.PostalCodeID, AreaName = s.PostalCodesTbl.AreaName + " (" + s.PostalCodesTbl.CityTbl.CityName + ")", s.AverageRating, s.ProfileImage }).OrderByDescending(s => s.AverageRating).ToList();
}

<div class="axil-categorie-area bg-color-white axil-section-gapcommon">

    <div class="axil-shop-area bg-color-white">
        <div class="container">
            @if (result.Count > 0)
            {
                <div class="row row--15">
                    <div class="col-xl-6 col-lg-6 col-sm-12">
                        <h4 class="text-center">What do you need a @catename to help with?</h4>
                        <div class="form-group">
                            <input type="text" id="searchInput" placeholder="Search subcategory..." class="mb-3" />
                        </div>
                        <div class="row row--15" style="height: 600px;overflow-x: auto;">
                            <div class="col-xl-12 col-lg-12 col-sm-12">
                                @foreach (var item in result)
                                {
                                    <div class="subcategory-item">
                                        <div class="categrie-product categrie-product-3"
                                             data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                                            <a href="/Categories/Services?subcateid=@item.Id&cateid=@item.CategoryId">
                                                <h5 class="mb--10">@item.SubCategoryName</h5>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <script>
                            document.getElementById("searchInput").addEventListener("keyup", function () {
                                const filter = this.value.toLowerCase();
                                const items = document.querySelectorAll(".subcategory-item");

                                items.forEach(item => {
                                    const name = item.querySelector("h5").textContent.toLowerCase();
                                    item.style.display = name.includes(filter) ? "" : "none";
                                });
                            });
                        </script>

                    </div>
                    <div class="col-xl-6 col-lg-6 col-sm-12">
                        <h4 class="text-center text-capitalize">Available @catename</h4>
                        <div class="form-group">
                            <input type="text" id="psearchInput" placeholder="Search @catename by name..." class="mb-3" />
                        </div>
                        <div class="row row--15" style="height: 600px;overflow-x: auto;">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @foreach (var item in tradespersons)
                                {
                                    <a href="/Categories/TradesPersonDetails?cid=@Request.QueryString["cateid"]&PostalCodeID=@item.PostalCodeID&pid=@item.Id" class="tradesperson-item">
                                        <div class="axil-product-list p-2">
                                            <div class="thumbnail">
                                                <img class="img-thumbnail" style="width:100px;height:100px;" src="@item.ProfileImage" alt="@item.ProviderName">
                                            </div>
                                            <div class="product-content">
                                                <h5 class="mb--0">@item.ProviderName</h5>
                                                <div class="product-reviews-summary">
                                                    <div class="rating-summary">
                                                        <h4 class="rating-result mb-0">
                                                            <span style="width:@item.AverageRating%"></span>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <h6 class="mt-2"><i class="fa fa-map-marker"></i> Operates in @item.AreaName</h6>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                        <script>
                            document.getElementById("psearchInput").addEventListener("keyup", function () {
                                const filter = this.value.toLowerCase();
                                const items = document.querySelectorAll(".tradesperson-item");

                                items.forEach(item => {
                                    const name = item.querySelector("h5").textContent.toLowerCase();
                                    item.style.display = name.includes(filter) ? "" : "none";
                                });
                            });
                        </script>
                    </div>
                </div>
            }
            else
            {
                <h3 style="text-align:center">No Subcategories found</h3>
            }
        </div>
        <!-- End .container -->
    </div>
</div>

