
@{
    ViewBag.Title = "TradesPersonDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    int pid = int.Parse(Request.QueryString["pid"]);

    var result = db.ProviderTbls.Where(c => c.IsActive == true && c.Id == pid && c.IsAvailable == true && c.ProviderServicesTbls.Any(s => s.IsActive) && c.StatusID == 2).Select(s => new { s.Id, s.ProviderType, s.EmailID, s.Experience, s.TeamCount, s.PostalCodeID, s.AddressLine1, s.AddressLine2, s.ProviderName, s.OwnerName, s.AverageRating, s.ProfileImage, s.BannerImage, s.ContactNo, s.Pricing, s.ShortBio, s.PostalCodesTbl.AreaName, s.Website, s.CreateDate, s.IsSponsored, s.IsAvailable, s.IsActive, s.IsVerified, ReviewsCount = s.CustomerReviewsTbls.Where(r => r.IsActive == true).Count(), Services = s.ProviderServicesTbls.Where(ss => ss.IsActive == true && ss.ServiceTbl.IsActive == true).Select(ss => ss.ServiceTbl.ServiceName), Reviews = s.CustomerReviewsTbls.Where(r => r.IsActive == true).Select(r => new { r.Id, r.CustomerTbl.FirstName, r.Rating, r.Review }).OrderByDescending(r => r.Id).Take(10).ToList(), Photos = s.ProviderImagesTbls.Select(i => new { i.Id, i.ImageUrl }).ToList(), Accreditations = s.ProviderAccreditationsTbls.Where(ac => ac.IsActive == true && ac.AccreditationTbl.IsActive == true && ac.StatusID == 2).Select(ac => new { ac.AccreditationTbl.AccreditationName, ac.AccreditationTbl.Logo }).ToList() }).FirstOrDefault();

    var agvrate = result.AverageRating / 20;
}

<main class="main-wrapper">
    <!-- Start Blog Area  -->
    <div class="axil-blog-area pt--30 pb--50">
        <div class="axil-single-post post-formate post-standard">
            <div class="container">
                <div class="content-block">
                    <div class="inner">
                        <div class="post-thumbnail">
                            <img src="@result.BannerImage" alt="@result.ProviderName">
                        </div>
                        <!-- End .thumbnail -->
                        <img class="img-thumbnail profile-img" src="@result.ProfileImage" alt="@result.ProviderName">
                    </div>
                </div>
                <!-- End .content-blog -->
            </div>
        </div>
        <!-- End .single-post -->
        <div class="post-single-wrapper position-relative pt--20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 axil-post-wrapper">
                        <div class="row">
                            <div class="col-lg-8">
                                <h3 class="title mb--5">@result.ProviderName</h3>
                                <div class="axil-post-meta">
                                    <div class="post-meta-content">
                                        <div class="product-reviews-summary">
                                            <div class="rating-summary">
                                                <h4 class="rating-result mb-0">
                                                    <span style="width:@result.AverageRating%"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        @if (result.ReviewsCount > 0)
                                        {
                                            <span>(@result.ReviewsCount+ Reviews)</span>
                                        }
                                        @if (result.IsVerified == true)
                                        {
                                            <h6 class="mb--5 mt--20"><i style="color:#197038" class="fa fa-check-circle"></i> Verified by Bridging Africa</h6>
                                        }
                                        @if (!string.IsNullOrEmpty(result.Pricing))
                                        {
                                            <h6 class="mb--0 mt--10"><i class="fa fa-dollar-sign"></i> @result.Pricing</h6>
                                        }
                                        <h6 class="mb--0 mt--10"><i class="fa fa-map-marker"></i> Operates in @result.AreaName</h6>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                @if (Request.QueryString["sid"] != null)
                                {
                                    <a href="/CustomerAccount/GetQuote?sid=@Request.QueryString["sid"]&scid=@Request.QueryString["scid"]&cid=@Request.QueryString["cid"]&PostalCodeID=@Request.QueryString["PostalCodeID"]&pid=@Request.QueryString["pid"]" class="axil-btn btn-bg-primary"><i class="fa fa-comment"></i> Request a Service</a>
                                }
                                else
                                {
                                    <a href="/Categories/PersonServices?cid=@Request.QueryString["cid"]&PostalCodeID=@Request.QueryString["PostalCodeID"]&pid=@Request.QueryString["pid"]" class="axil-btn btn-bg-primary"><i class="fa fa-comment"></i> Request a Service</a>
                                }
                            </div>
                        </div>
                        <hr class="mt--40" />
                        <h4 class="title">Services <i class="fa fa-chevron-circle-right"></i></h4>
                        @foreach (var service in result.Services)
                        {
                            <span class="list-services"><i class="fa fa-check"></i> @service</span>
                        }
                        @if (result.Accreditations.Count > 0)
                        {
                            <hr class="mt--40" />
                            <h4 class="title">Accreditations <i class="fa fa-chevron-circle-right"></i></h4>
                            foreach (var Accreditation in result.Accreditations)
                            {
                                <span class="list-accreditations"><img src="@Accreditation.Logo" style="height:40px;" /> @Accreditation.AccreditationName</span>
                            }
                            <hr class="mt--40" />
                        }
                        <div class="axil-comment-area mt--30">
                            <div class="row">
                                @if (result.Reviews.Count > 0)
                                {
                                    <div class="col-lg-6">
                                        <h4 class="title mb--10">Customer reviews <i class="fa fa-chevron-circle-right"></i></h4>
                                        <ul class="comment-list" style="height: 370px;overflow-x: auto;">
                                            <!-- Start Single Comment  -->
                                            @foreach (var review in result.Reviews)
                                            {
                                                var rating = review.Rating / 20;
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="single-comment">
                                                            <div class="comment-inner">
                                                                <h6 class="commenter mb--0">
                                                                    <a class="hover-flip-item-wrapper" href="#">
                                                                        <span class="hover-flip-item"><span data-text="@review.FirstName">@review.FirstName</span></span>
                                                                    </a>
                                                                </h6>
                                                                <div class="product-reviews-summary">
                                                                    <div class="rating-summary">
                                                                        <h4 class="rating-result mb-0">
                                                                            <span style="width:@review.Rating%"></span>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-text">
                                                                    <p>
                                                                        @review.Review
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single Comment  -->
                                            }
                                        </ul>
                                    </div>
                                }
                                @if (result.Photos.Count > 0)
                                {
                                    var firstImage = result.Photos.Select(s => s.ImageUrl).FirstOrDefault();
                                    <div class="col-lg-6">
                                        <h4 class="title">Photos <i class="fa fa-chevron-circle-right"></i></h4>
                                        <div class="row">
                                            <div class="col-lg-9 order-lg-2">
                                                <div class="single-product-thumbnail-wrap zoom-gallery">
                                                    <div style="height: 375px; overflow:hidden" class="single-product-thumbnail product-large-thumbnail-3 axil-product">
                                                        <div class="thumbnail">
                                                            <a href="@firstImage" class="popup-zoom">
                                                                <img src="@firstImage" alt="Bridging Africa">
                                                            </a>
                                                        </div>
                                                        @foreach (var item in result.Photos)
                                                        {
                                                            <div class="thumbnail">
                                                                <a href="@item.ImageUrl" class="popup-zoom">
                                                                    <img src="@item.ImageUrl" alt="Bridging Africa">
                                                                </a>
                                                            </div>
                                                        }

                                                    </div>

                                                    <div class="product-quick-view position-view">
                                                        <a href="@firstImage" class="popup-zoom">
                                                            <i class="far fa-search-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 order-lg-1">
                                                <div class="product-small-thumb-3 small-thumb-wrapper" style="height: 375px; overflow-x:auto">
                                                    <div class="small-thumb-img">
                                                        <img src="@firstImage" alt="Bridging Africa">
                                                    </div>
                                                    @foreach (var item in result.Photos)
                                                    {
                                                        <div class="small-thumb-img">
                                                            <img src="@item.ImageUrl" alt="Bridging Africa">
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- End .axil-commnet-area -->
                        <hr class="mt--40" />
                        <div class="post-heading mt--50">
                            <h4 class="title">Company Information <i class="fa fa-chevron-circle-right"></i></h4>
                            <div class="axil-post-meta">
                                <div class="post-meta-content">
                                    <h6 class="mb--10"><i class="fa fa-user"></i> Owner: @result.OwnerName</h6>
                                    <h6 class="mb--10"><i class="fa fa-store"></i> Tradesperson Type: @result.ProviderType</h6>
                                    <h6><i class="fa fa-user"></i> Bridging Africa member since @result.CreateDate.ToString("MMMM yyyy")</h6>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area  -->

</main>

