
@{
    ViewBag.Title = "MyJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();

    int custID = int.Parse(Session["P_UserID"].ToString());
    var result = db.ProviderJobsTbls.Where(a => a.IsActive && a.ProviderEnquiryTbl.ProviderID == custID).Select(c => new { c.Id, c.ProviderEnquiryTbl.CustomerID, c.ProviderEnquiryTbl.ProviderID, Name = c.ProviderEnquiryTbl.CustomerTbl.FirstName + " " + c.ProviderEnquiryTbl.CustomerTbl.LastName, Title = c.ProviderEnquiryTbl.CategoryTbl.CategoryName + " > " + c.ProviderEnquiryTbl.SubCategoryTbl.SubCategoryName, c.Amount, c.WorkerUrgency, c.JobDetail, c.ProviderEnquiryTbl.ServiceTbl.ServiceName, c.StatusID, c.CreatedDate, c.StatusTbl.ColorCode, c.StatusTbl.StatusName }).OrderByDescending(c => c.Id).ToList(); ;
}

<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">My Jobs</li>
                        </ul>
                        <h1 class="title">My Jobs</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-dashboard-area mb--80">
        <div class="container">
            <div class="row align-items-center">
                <div class="axil-dashboard-area mt--30">
                    <div class="container">
                        <div class="axil-dashboard-warp">
                            <div class="axil-dashboard-author">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="title mb-0">Hello @Session["ProviderName"]</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Action("_AccountDetail", "TradespersonAccount")
                                <div class="col-xl-9 col-md-8">
                                    @if (TempData["FailMessage"] != null)
                                    {
                                        <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
                                    }
                                    @if (result.Count > 0)
                                    {
                                        <div class="axil-dashboard-order">
                                            <div class="table-responsive" style="border: 1px solid #C0C0C0; border-radius: 5px;">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Customer</th>                                                            
                                                            <th scope="col">Service</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    @foreach (var item in result)
                                                    {
                                                        <tbody>
                                                            <tr>
                                                                <td>@item.Name</td>
                                                                <td>@item.ServiceName</td>
                                                                <td><span style="color:@item.ColorCode">@item.StatusName</span></td>
                                                                <td>@item.CreatedDate.ToString("dd-MMM-yyyy")</td>
                                                                <td>
                                                                    <a href="/TradespersonAccount/MyJobDetails?jobid=@item.Id" class='axil-btn view-btn'>View Details</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <h4>No Record Found</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

