@model BridgingAfrica.ProviderEnquiryTbl
@{
    ViewBag.Title = "QuotationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function ConvertoJob(enqID) {
        var amount = 0;
        //if (!amount) {
        //    alert('Please Enter Finalized Amount');
        //}
        //else {
            $.ajax({
                url: '/api/ProviderApi/ConvertoJob?enqID=' + enqID + "&amount=" + amount,
                type: "Post",
                dataType: "JSON",
                beforeSend: function () {
                    $("body").mLoading();
                },
                success: function (json) {
                    $("body").mLoading('hide');
                    if (json.Status == "Success") {
                        alert(json.Message);
                        window.location = "/TradespersonAccount/MyQuotations";
                    }
                    else {
                        alert(json.Message);
                    }
                },
            });
        //}
    }
</script>
<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Request Details</li>
                        </ul>
                        <h1 class="title">Request Details</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-dashboard-area mb--80">
        <div class="container">
            <div class="row align-items-center">
                <div class="axil-dashboard-area mt--30">
                    <div class="container">
                        <div class="axil-dashboard-warp">
                            <div class="axil-dashboard-author">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="title mb-0">Hello @Session["ProviderName"]</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Action("_AccountDetail", "TradespersonAccount")
                                <div class="col-xl-9 col-md-8">
                                    <div class="card card-style mt-2 mb-2">
                                        <div class="page-title page-title-small mb-2">
                                            <h4 class="text-center mb-2 mt-2">Request Details</h4>
                                        </div>
                                    </div>
                                    <div class="card card-style">
                                        <div class="page-title page-title-small mb-2">
                                            <p class="text-center mb-2">@Model.CategoryTbl.CategoryName <i class="fa fa-chevron-circle-right"></i> @Model.SubCategoryTbl.SubCategoryName</p>
                                            <h4 class="text-center mb-2">@Model.ServiceTbl.ServiceName</h4>
                                        </div>
                                        <div class="content mt-1 mb-2">
                                            <h6 class="text-center mb-3">Work Urgency: @Model.WorkerUrgency</h6>
                                            <h6 class="text-center mb-2">Job Details: @Model.JobDetail</h6>
                                        </div>
                                    </div>
                                    <div class="card card-style mt-2 mb-2">
                                        <div class="page-title page-title-small mb-2">
                                            <h4 class="text-center mb-2 mt-2">Customer Information</h4>
                                        </div>
                                    </div>
                                    <div class="card card-style">
                                        <div class="content mb-0 mt-1 pt-2 mb-2 text-center">
                                            <h6 class="text-center mb-2">Name: @Model.CustomerTbl.FirstName @Model.CustomerTbl.LastName </h6>
                                            <h6 class="text-center mb-2">Contact No: @Model.CustomerTbl.MobileNo </h6>
                                            <h6 class="text-center mb-2">Address: @Model.CustomerTbl.PostalCodesTbl.AreaName, @Model.CustomerTbl.AddressLine1<br />@Model.CustomerTbl.AddressLine2</h6>
                                            @if (Model.StatusID == 4)
                                            {
                                                <h5 class="mt-4 p-2 text-center">This Request is completed.</h5>
                                            }
                                            else
                                            {
                                                <div class="form-group mt-5 text-center" style="display:none">
                                                    <input id="amount" name="amount" style="width:300px" value="0" type="number" placeholder="Enter Finalized amount $" required>
                                                </div>
                                                <p style="display:none" class="text-center">Don't worry!! You can change this amount when invoicing.</p>

                                                <button onclick="ConvertoJob(@Model.Id)" style="width:300px" class="axil-btn mt-4 p-2 btn-bg-primary">Completed?</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

