@model BridgingAfrica.PostalCodesTbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function getCities(provinceId) {
        $('#CityID').empty().append('<option value="">---------Select City/Town---------</option>');
        if (provinceId) {
            $.ajax({
                url: '/api/HomeApi/GetCitiesByProvince',
                type: 'GET',
                data: { pid: provinceId },
                success: function (data) {
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            $('#CityID').append($('<option>', {
                                value: item.Id,
                                text: item.CityName
                            }));
                        });
                    }
                    else {
                        $('#CityID').empty().append('<option value="">---------No Cities found---------</option>');
                    }
                }
            });
        }
    }
</script>
<section class="content-header">
    <h1>Edit Suburb<small>(Edit Suburb)</small></h1>
</section>
<section class="content">
    @using (Html.BeginForm("Edit", "ManageAreas", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CountryID)
                @Html.HiddenFor(model => model.Isactive)
                @Html.HiddenFor(model => model.CreateDate)
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Province</label>
                                    @Html.DropDownList("ProvinceID", null, "---Select Province---", htmlAttributes: new { @class = "form-control", required = "required", onchange = "getCities(this.value)" })
                                </div>
                                <div class="form-group">
                                    <label>City/Town</label>
                                    @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                                <div class="form-group">
                                    <label>Latitude (Click on map to get)</label>
                                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", required = "required", readOnly = "true" } })
                                </div>

                                <div class="form-group">
                                    <label>Longitude (Click on map to get)</label>
                                    @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", required = "required", readOnly = "true" } })
                                </div>

                                <div class="form-group">
                                    <label>Area/Suburb (Automatically get when click on location, you can edit if not correct)</label>
                                    @Html.EditorFor(model => model.AreaName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                <div class="form-group">
                                    <label>Area Radius in Kilometer</label>
                                    @Html.EditorFor(model => model.AreaRadius, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                <p>Click on the center point of the area, radius will calculate from that point</p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="pac-input" class="controls" type="text" placeholder="Search Location" style="width:75%;height:42px;margin-top:9px!important" />
                                    <div id="dvMap" style="width: 100%; height: 450px">
                                    </div>
                                    <input type="hidden" id="Latitude" name="Latitude" />
                                    <input type="hidden" id="Longitude" name="Longitude" />
                                </div>
                                <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcimpXOj5Dp3IYAnXTyiTOOYnLFE-1-to&callback=initAutocomplete&libraries=places&v=weekly" defer></script>

                                <script type="text/javascript">
                                    window.initAutocomplete = function () {
                                        // Get model values from hidden inputs
                                        var modelLat = parseFloat(document.getElementById("Latitude").value);
                                        var modelLng = parseFloat(document.getElementById("Longitude").value);
                                       

                                        function initMap(centerLat, centerLng) {
                                            var mapOptions = {
                                                center: new google.maps.LatLng(centerLat, centerLng),
                                                zoom: 12,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            };

                                            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                                            var initialMarker = new google.maps.Marker({
                                                position: { lat: centerLat, lng: centerLng },
                                                map: map,
                                                title: "Selected Location"
                                            });
                                            const input = document.getElementById("pac-input");
                                            const searchBox = new google.maps.places.SearchBox(input);
                                            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                                            map.addListener("bounds_changed", () => {
                                                searchBox.setBounds(map.getBounds());
                                            });

                                            let markers = [initialMarker];

                                            searchBox.addListener("places_changed", () => {
                                                const places = searchBox.getPlaces();
                                                if (places.length == 0) return;

                                                markers.forEach((marker) => marker.setMap(null));
                                                markers = [];

                                                const bounds = new google.maps.LatLngBounds();
                                                places.forEach((place) => {
                                                    if (!place.geometry || !place.geometry.location) return;

                                                    const icon = {
                                                        url: place.icon,
                                                        size: new google.maps.Size(71, 71),
                                                        origin: new google.maps.Point(0, 0),
                                                        anchor: new google.maps.Point(17, 34),
                                                        scaledSize: new google.maps.Size(25, 25),
                                                    };

                                                    markers.push(new google.maps.Marker({
                                                        map,
                                                        icon,
                                                        title: place.name,
                                                        position: place.geometry.location,
                                                    }));

                                                    if (place.geometry.viewport) bounds.union(place.geometry.viewport);
                                                    else bounds.extend(place.geometry.location);
                                                });
                                                map.fitBounds(bounds);
                                            });

                                            // Click event to update hidden fields
                                            google.maps.event.addListener(map, 'click', function (e) {
                                                var latlng = new google.maps.LatLng(e.latLng.lat(), e.latLng.lng());
                                                var geocoder = new google.maps.Geocoder();
                                                geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                                                    if (status == google.maps.GeocoderStatus.OK && results[1]) {
                                                        document.getElementById("AreaName").value = results[1].address_components[2]?.long_name || '';
                                                        document.getElementById("Latitude").value = e.latLng.lat();
                                                        document.getElementById("Longitude").value = e.latLng.lng();

                                                        // Remove old marker and add new one
                                                        markers.forEach((m) => m.setMap(null));
                                                        var newMarker = new google.maps.Marker({
                                                            position: e.latLng,
                                                            map: map
                                                        });
                                                        markers = [newMarker];
                                                    }
                                                });
                                            });

                                        }
                                      
                                        if (!isNaN(modelLat) && !isNaN(modelLng) && modelLat !== 0 && modelLng !== 0) {
                                            // If model has coordinates, use them
                                            initMap(modelLat, modelLng);
                                        } else if (navigator.geolocation) {
                                            navigator.geolocation.getCurrentPosition(
                                                (position) => initMap(position.coords.latitude, position.coords.longitude),
                                                () => alert("Sorry, you have to allow location services")
                                            );
                                        } else {
                                            alert("Sorry, your browser does not support geolocation services.");
                                            // Fallback center if needed
                                            initMap(0, 0);
                                        }
                                    }
                                </script>

                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        <a href="/Admin/ManageAreas/Index" class="btn btn-dropbox">Back to List</a>
    </div>
</section>