@model BridgingAfrica.CityTbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1>Edit City<small>(Edit City)</small></h1>
</section>
<section class="content">
    @using (Html.BeginForm("Edit", "ManageCities", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Isactive)
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Province</label>
                            @Html.DropDownList("ProvinceID", null, "---Select Province---", htmlAttributes: new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            <label>City/Town</label>
                            @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        <a href="/Admin/ManageCities/Index" class="btn btn-dropbox">Back to List</a>
    </div>
</section>