
@{
    ViewBag.Title = "SearchArea";
    Layout = "~/Areas/MobileApp/Views/Shared/_LayoutMain.cshtml";
}
<style>
    #msg {
        display: none;
        color: red;
        margin-top: 5px;
    }
    #map {
        margin-bottom: 50px;
        height: 300px;
        width: 100%;
        display: none;
    }
</style>
<script src="~/assets/js/locationmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcimpXOj5Dp3IYAnXTyiTOOYnLFE-1-to&callback=initMap" async defer></script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/MobileApp/Home/Services?scid=@Request.QueryString["scid"]&cid=@Request.QueryString["cid"]"><i class="fa fa-arrow-left"></i></a>Your Suburb/Area</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="180">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style">
        <div class="content mt-2 mb-0">
            <form id="myForm" method="get" action="/MobileApp/Home/TradesPerson">
                <input type="hidden" value="@Request.QueryString["sid"]" name="sid" />
                <input type="hidden" value="@Request.QueryString["scid"]" name="scid" />
                <input type="hidden" value="@Request.QueryString["cid"]" name="cid" />               
                <div class="input-style input-style-2 mt-2">
                    <span class="color-highlight input-style-1-active">City/Town</span>
                    @Html.DropDownList("CityID", null, "Select Your City/Town", htmlAttributes: new { required = "required", onchange = "getAreaSuburb(this.value)", title = "Select City" })
                </div>
                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Search Area/Suburb</span>
                    @Html.DropDownList("PostalCodeID", new SelectList(Enumerable.Empty<SelectListItem>()), htmlAttributes: new
               {
                   required = "required",
                   onchange = "setareaID(this.value, this.options[this.selectedIndex].text)",
                   title = "Select Area"
               })
                </div>
                <p id="pRadius" class="mb-2" style="color:green"></p>
                <div id="map"></div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-m btn-full mb-3 mt-5 rounded-xl text-uppercase font-900 shadow-s bg-ba-theme">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>

