
@{
    ViewBag.Title = "ServiceDetails";
    Layout = "~/Areas/MobileApp/Views/Shared/_LayoutMain.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    int pid = int.Parse(Request.QueryString["pid"]);

    var result = db.ProviderTbls.Where(c => c.IsActive == true && c.Id == pid && c.IsAvailable == true && c.ProviderServicesTbls.Any(ps => ps.IsActive) && c.StatusID == 2).Select(s => new { s.Id, s.ProviderType, s.EmailID, s.Experience, s.TeamCount, s.PostalCodeID, s.AddressLine1, s.AddressLine2, s.ProviderName, s.OwnerName, s.AverageRating, s.ProfileImage, s.BannerImage, s.ContactNo, s.Pricing, s.ShortBio, s.PostalCodesTbl.AreaName, s.Website, s.CreateDate, s.IsSponsored, s.IsAvailable, s.IsActive, s.IsVerified, ReviewsCount = s.CustomerReviewsTbls.Where(r => r.IsActive == true).Count(), Services = s.ProviderServicesTbls.Where(ss => ss.IsActive == true && ss.ServiceTbl.IsActive == true).Select(ss => ss.ServiceTbl.ServiceName), Reviews = s.CustomerReviewsTbls.Where(r => r.IsActive == true).Select(r => new { r.Id, r.CustomerTbl.FirstName, r.Rating, r.Review }).OrderByDescending(r => r.Id).Take(10).ToList(), Photos = s.ProviderImagesTbls.Select(i => new { i.Id, i.ImageUrl }).ToList(), Accreditations = s.ProviderAccreditationsTbls.Where(ac => ac.IsActive == true && ac.AccreditationTbl.IsActive == true && ac.StatusID == 2).Select(ac => new { ac.AccreditationTbl.AccreditationName, ac.AccreditationTbl.Logo }).ToList() }).FirstOrDefault();

    var agvrate = result.AverageRating / 20;
}

<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/MobileApp/Home/SubCategories?cid=@Request.QueryString["cid"]"><i class="fa fa-arrow-left"></i></a> <span>@result.ProviderName</span></h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style">
        <img src="@result.BannerImage" class="img-fluid bottom-20" style="height:200px">
        <img src="@result.ProfileImage" class="img-thumbnail profile-img bottom-20">
        <div class="content mb-0">
            <div class="list-group list-custom-small mb-4">
                <a href="#" style="display: flex;">
                    <div class="product-reviews-summary">
                        <div class="rating-summary" style="line-height: 0px;">
                            <h4 class="rating-result mb-0"><span style="width:@result.AverageRating"> </span></h4>
                        </div>
                    </div>
                    <span style="line-height: 2;margin-left:10px;">(@result.ReviewsCount+    reviews)</span>
                </a>
                <a href="#">
                    <i class="fa fa-map-marker-alt color-red2-dark"></i>
                    <span>Operates in @result.AreaName</span>
                </a>
                @if (result.IsVerified == true)
                {
                    <a href="#">
                        <i class="fa fa-check-circle color-ba-theme"></i>
                        <span>Verified by Bridging Africa</span>
                    </a>
                }
                @if (!string.IsNullOrEmpty(result.Pricing))
                {
                    <a href="#">
                        <i class="fa fa-dollar-sign color-red2-dark"></i>
                        <span>@result.Pricing</span>
                    </a>
                }
                @if (!string.IsNullOrEmpty(result.Website))
                {
                    <a target="_blank" href="@result.Website">
                        <i class="fa fa-globe color-green2-dark"></i>
                        <span>Visit Website</span>
                    </a>
                }
            </div>
            <h4 class="mb-3 font-400">Sevices</h4>
            <div class="mb-3">
                @foreach (var service in result.Services)
                {
                    <span class="list-services font-13 font-500"><i class="fa pull-left fa-check m-0 font-10"></i> <span>@service</span></span>
                }
            </div>
            @if (result.Accreditations.Count > 0)
            {
                <h4 class="mb-3 font-400">Accreditations</h4>
                <div class="mb-3">
                    @foreach (var Accreditation in result.Accreditations)
                    {
                        <span class="list-accreditations font-13 font-500"><img src="@Accreditation.Logo" style="height:40px;" /> <span>@Accreditation.AccreditationName</span></span>
                    }
                </div>
            }
            @if (Request.QueryString["serviceid"] != null)
            {
                <a href="/MobileApp/Home/GetQuote?scid=@Request.QueryString["scid"]&cid=@Request.QueryString["cid"]&PostalCodeID=@Request.QueryString["PostalCodeID"]&serviceid=@Request.QueryString["serviceid"]&pid=@Request.QueryString["pid"]" class="btn btn-m btn-full mb-3 rounded-xl text-uppercase font-900 shadow-s bg-ba-theme mt-4"><i class="fa fa-comment"></i> Request a Service</a>
            }
            else
            {
                <a href="/MobileApp/Home/PersonServices?cid=@Request.QueryString["cid"]&PostalCodeID=@Request.QueryString["PostalCodeID"]&pid=@Request.QueryString["pid"]" class="btn btn-m btn-full mb-3 rounded-xl text-uppercase font-900 shadow-s bg-ba-theme mt-4"><i class="fa fa-comment"></i> Request a Service</a>
            }
        </div>
    </div>
    @if (result.Reviews.Count > 0)
    {
        <div class="card card-style">
            <div class="content">
                <h3>Customer Reviews</h3>
                <p>
                    Sharing feedback from our customers is always makes us happy.
                </p>
            </div>
            <div class="divider divider-margins mb-1"></div>
            <div>
                @foreach (var review in result.Reviews)
                {
                    <div class="content mt-0 mb-0">
                        <h1 class="mb-n2 font-15 font-700">@review.FirstName</h1>
                        <div class="float-right font-700 font-30 mt-n3">
                            <div class="product-reviews-summary">
                                <div class="rating-summary">
                                    <h4 class="rating-result mb-0">
                                        <span style="width:@review.Rating%"> </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <p class="mb-0 font-10"><i class="fa fa-check-circle color-highlight scale-icon mr-2"></i>Verified Customer</p>
                        <p>@review.Review</p>
                    </div>
                    <hr class="mb-0 mt-1">
                }
            </div>
        </div>
    }
    @if (result.Photos.Count > 0)
    {
        <div class="card card-style">
            <div class="content">
                <h3>Photos Gallery</h3>
                <p>
                    A gallery showcasing our product in a better view for you to see.
                </p>
            </div>
            <div class="content">
                <div class="row text-center row-cols-3 mb-0">
                    @foreach (var item in result.Photos)
                    {
                        <div class="col mb-2">
                            <a data-lightbox="gallery-1" href="@item.ImageUrl">
                                <img src="@item.ImageUrl" data-src="@item.ImageUrl" class="preload-img img-fluid rounded-xs" alt="img" style="height:90px;">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
        <div class="card card-style">
            <div class="content">
                <h4 class="mb-3">Company Info</h4>
                <h5 class="font-400 font-14"><i class="font-12 fa fa-user"></i> Owner : @result.OwnerName</h5>
                <h5 class="font-400 font-14"><i class="font-12 fa fa-store"></i> Tradesperson Type: @result.ProviderType</h5>
                <h5 class="font-400 font-14"><i class="font-12 fa fa-user"></i> Bridging Africa member since @result.CreateDate.ToString("MMMM yyyy")</h5>
            </div>
        </div>
    </div>