
@{
    ViewBag.Title = "ViewTradespersons";
    Layout = "~/Areas/MobileApp/Views/Shared/_LayoutMain.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();

    int cid = int.Parse(Request.QueryString["cid"]);
    var catename = db.CategoryTbls.Where(c => c.Id == cid).Select(c => c.CategoryName).FirstOrDefault();

    var query = db.ProviderTbls.Where(p => p.IsActive == true && p.IsAvailable == true && p.ProviderServicesTbls.Any(s => s.IsActive) && p.StatusID == 2 && p.ProviderServicesTbls.Any(ps => ps.ServiceTbl.CategoryID == cid && ps.IsActive));

    if (Request.QueryString["scid"] != null)
    {
        int scid = int.Parse(Request.QueryString["scid"]);
        query = query.Where(p => p.ProviderServicesTbls.Any(ps => ps.ServiceTbl.SubCategoryID == scid && ps.IsActive));
    }

    var result = query.Select(s => new { s.Id, s.ProviderName, s.PostalCodeID, s.PostalCodesTbl.AreaName, s.AverageRating, s.ProfileImage, s.BannerImage, s.ContactNo, s.IsSponsored, s.IsVerified, ReviewsCount = s.CustomerReviewsTbls.Count(c => c.IsActive), Services = s.ProviderServicesTbls.Where(ss => ss.IsActive && ss.ServiceTbl.IsActive==true).Select(ss => ss.ServiceTbl.ServiceName) }).OrderByDescending(s => s.ReviewsCount).ToList();
}
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/MobileApp/Home/SubCategories?cid=@Request.QueryString["cid"]"><i class="fa fa-arrow-left"></i></a>Available @catename</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style">
        <div class="content mt-0 mb-0">
            <div class="input-style input-style-2 mt-3">
                <span class="color-highlight input-style-1-active">Search Tradesperson</span>
                <input type="text" id="searchInput" placeholder="Search Tradesperson name..." class="mb-3" />
            </div>
        </div>
    </div>    
    @foreach (var item in result)
    {
        <a class="card card-style trades-item" href="/MobileApp/Home/ServiceDetails?cid=@Request.QueryString["cid"]&PostalCodeID=@item.PostalCodeID&pid=@item.Id">
            <div class="content mt-0 mb-0">
                <div class="row mb-3">
                    <div class="col-3"><img src="@item.ProfileImage" style="height: 70px; width: 70px" class="img-thumbnail mt-2"></div>
                    <div class="col-9">
                        <h4 class="mt-2">@item.ProviderName</h4>
                        <div class="font-500" style="display: flex;">
                            <div class="product-reviews-summary">
                                <div class="rating-summary">
                                    <h4 class="rating-result"><span style="width:@item.AverageRating%"></span></h4>
                                </div>
                            </div>
                            <span class="font-12" style="line-height: 26px;margin-left: 10px;"> (@item.ReviewsCount+ reviews)</span>
                        </div>
                        <h5 class="font-400 font-14"><i class="fa fa-map-marker m-0 font-12"></i> Operates in @item.AreaName</h5>
                    </div>
                    <div class="col-12">
                        <h4 class="font-500 mt-2 mb-2">Services <i class="font-13 fa fa-chevron-circle-right"></i></h4>
                        @foreach (var service in item.Services)
                        {
                            <span class="list-services font-13 font-500"><i class="fa pull-left fa-check m-0 font-10"></i> <span>@service</span></span>
                        }
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
        const filter = this.value.toLowerCase();
        const items = document.querySelectorAll(".trades-item");

        items.forEach(item => {
            const name = item.querySelector("h4").textContent.toLowerCase();
            item.style.display = name.includes(filter) ? "" : "none";
        });
    });
</script>

