@model BridgingAfrica.CategoryTbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>Edit Category<small>(Edit Category)</small></h1>
</section>
<section class="content">
    @using (Html.BeginForm("Edit", "ManageCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.Image)
        @Html.HiddenFor(model => model.CreatedDate)
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-body">

                        <div class="form-group">
                            <label>Category Name</label>
                            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                        <div class="form-group">
                            <label>Category Order</label>
                            @Html.EditorFor(model => model.CategoryOrder, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                        <div class="form-group">
                            <label>Category Image : (Recommended size in the Aspect Ratio 150 * 150 pixels)</label>
                            <input id="Image" onchange="readURL(this,'#imgpreview');" type="file" name="ImagePath" src="@Model.Image" />
                            <img id="imgpreview" class="img-thumbnail" style="width:200px" alt="Preview" src="@Model.Image" />
                        </div>
                        <div class="form-group">
                            <div class="box-footer">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        <a href="/Admin/ManageCategory/Index" class="btn btn-dropbox">Back to List</a>
    </div>
</section>
