@model BridgingAfrica.CustomerTbl
@{
    ViewBag.Title = "Customer Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map {
        margin-bottom: 50px;
        height: 400px;
        width: 100%;
        display: none;
    }
</style>
<script src="~/assets/js/locationmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcimpXOj5Dp3IYAnXTyiTOOYnLFE-1-to&callback=initMap" async defer></script>
<!-- Start Contact Area  -->
<div class="axil-contact-page-area axil-section-gap">
    <div class="container">
        <div class="axil-contact-page">
            <div class="row row--30">
                <div class="col-xl-6 col-lg-6 col-sm-12 offset-lg-3 offset-xl-3">
                    @if (TempData["FailMessage"] != null)
                    {
                        <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div id="success-alert" class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
                    }
                    <div class="contact-form">
                        <h3 class="title mb--10">Customer Registration</h3>
                        <p>Select your home area. @*<a style="color:#0094ff;text-decoration:underline" onclick="showCurrentLocation()" href="#">Get current location</a>*@</p>
                        <form method="post" action="/Home/CustomerArea">
                            @Html.AntiForgeryToken()
                            <input id="MobileNo" name="MobileNo" type="hidden" value="@Session["MobileNumber"]" />
                            <div class="row row--10">
                                <div class="col-lg-12">                                   
                                    <div class="form-group">
                                        <label>City/Town <span>*</span></label>
                                        @Html.DropDownList("CityID", null, "Select Your City/Town", htmlAttributes: new { required = "required", onchange = "getAreaSuburb(this.value)" })
                                    </div>
                                    <div class="form-group">
                                        <label>Set Business Area <span>*</span></label>
                                        @Html.DropDownList("PostalCodeID", new SelectList(Enumerable.Empty<SelectListItem>()), htmlAttributes: new
                                        {
                                            required = "required", onchange = "setareaID(this.value, this.options[this.selectedIndex].text)"
                                        })
                                    </div>
                                    <p id="pRadius" class="mb-2" style="color:green"></p>
                                    <div id="map"></div>
                                    <div class="form-group">
                                        <label>Address Line 1</label>
                                        @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { required = "required" } })
                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 2</label>
                                        @Html.EditorFor(model => model.AddressLine2)
                                    </div>
                                </div>
                                <div class="col-12 mt--20">
                                    <div class="form-group mb--0">
                                        <button type="submit" class="axil-btn btn-bg-primary">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area  -->
