
@{
    ViewBag.Title = "Messages";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";

    BridgingAfricaDBEntities db = new BridgingAfricaDBEntities();
    int providerID = 0;
    if (Request.Cookies["P_UserID"] != null)
    {
        HttpCookie reqCookies = Request.Cookies["P_UserID"];
        providerID = int.Parse(reqCookies.Value);
    }
    var result = db.ProviderNotificationTbls.Where(a => a.Isactive && a.ProviderID == providerID).Select(c => new { c.Id, c.Message, c.PageUrl, c.Status, c.CreateDate }).OrderByDescending(c => c.Id).ToList();
}
<script>
    function readNotification(nid) {
        $.ajax({
            url: '/api/ProviderApi/ReadNotification?nid=' + nid,
            type: "Get",
            dataType: "JSON",
            success: function (response) {
                console.log(response);
            },
        });
    }
</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/TradespersonApp/Home/MyAccount"><i class="fa fa-arrow-left"></i></a>Messages</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="clearfix mb-3"></div>
    @if (result.Count > 0)
    {
        foreach (var item in result)
        {
            if (item.Status == false)
            {
                <a href="@item.PageUrl" onclick="readNotification(@item.Id)" class="card card-style bg-theme p-2">
                    <div class="container">
                        <p class="font-500 mb-1"><i class="fa fa-calendar"></i> @item.CreateDate.ToString("dd MMM yyyy hh:mm:ss tt")</p>
                        <p style="color:#3a8649" class="font-500 mb-0">@item.Message</p>
                    </div>
                </a>
            }
            else
            {
                <a href="@item.PageUrl" class="card card-style bg-theme p-2">
                    <div class="container">
                        <p class="font-500 mb-1"><i class="fa fa-calendar"></i> @item.CreateDate.ToString("dd MMM yyyy hh:mm:ss tt")</p>
                        <p class="font-500 mb-0" style="color: #606060;">@item.Message</p>
                    </div>
                </a>
            }
        }
    }
    else
    {
        <div class="card card-style bg-theme p-2">
            <div class="container">
                <h6 class="font-500 mb-0">No Record Found</h6>
            </div>
        </div>
    }
</div>

