@model BridgingAfrica.ProviderTbl
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";
}
<script>
    function readURL(input, img) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(img).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    $(document).ready(function () {  
        $('#txtAddress').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/api/HomeApi/GetAreas?keyword=' + request.term,
                    type: 'get',
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (data, id) {
                            return {
                                label: data.AreaName,
                                value: data.AreaName,
                                id: data.Id
                            };
                        }));
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        console.log(errorThrown, textStatus);
                    }
                });
            },
            select: function (event, ui) {
                $('#hdAreaID').val(ui.item.id);
            },
            close: function (event, ui) {
                $('#txtDestination').focus();
            }
        });     
    });
    function setprocessing() {
        $("#btnsubmit").html("Processing...");
    }
</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/TradespersonApp/Home/MyAccount" data-back-button target="_self"><i class="fa fa-arrow-left"></i></a>My Profile</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="180">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style">
        <div class="content">
            <p class="custom_Profile_P">Update your profile here</p>
        </div>
    </div>
    <div class="card card-style mt-3">
        <div class="content mb-0">
            @if (TempData["FailMessage"] != null)
            {
                <div id="fail-alert" class="alert alert-danger text-center">@TempData["FailMessage"]</div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="success-alert" class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
            }
            <form method="post" action="/TradespersonApp/Home/MyProfile" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ProviderType)
                @Html.HiddenFor(model => model.ContactNo)
                @Html.HiddenFor(model => model.AverageRating)
                @Html.HiddenFor(model => model.BannerImage)
                @Html.HiddenFor(model => model.ProfileImage)
                @Html.HiddenFor(model => model.TradeTestCerticate)
                @Html.HiddenFor(model => model.PoliceClearance)
                @Html.HiddenFor(model => model.ReferenceDoc)
                @Html.HiddenFor(model => model.IsAvailable)
                @Html.HiddenFor(model => model.IsSponsored)
                @Html.HiddenFor(model => model.IsVerified)
                @Html.HiddenFor(model => model.IsActive)
                @Html.HiddenFor(model => model.StatusID)
                @Html.HiddenFor(model => model.CreateDate)
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-user color-theme"></i>
                    <span class="color-highlight input-style-1-active">Business Name</span>
                    <em>(required)</em>
                    @Html.EditorFor(model => model.ProviderName, new { htmlAttributes = new { required = "required", title = "Enter Business Name" } })
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-user color-theme"></i>
                    <span class="color-highlight input-style-1-active">Owner Name</span>
                    <em>(required)</em>
                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { required = "required", title = "Enter Owner Name" } })
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-envelope color-theme"></i>
                    <span class="color-highlight input-style-1-active">Email</span>
                    <em>(required)</em>
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { required = "required", autocomplete = "off", title = "Enter Email ID" } })
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-user color-theme"></i>
                    <span class="color-highlight input-style-1-active">Pricing</span>
                    <em>(optional)</em>
                    @Html.EditorFor(model => model.Pricing, new { htmlAttributes = new { placeholder = "eg: $30 Visit charge.", title = "Enter Pricing" } })
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-user color-theme"></i>
                    <span class="color-highlight input-style-1-active">Experience (eg: 10 Year, 6 Month etc.)</span>
                    <em>(required)</em>
                    @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { required = "required", title = "Enter Experience" } })
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-user color-theme"></i>
                    <span class="color-highlight input-style-1-active">Total Team Members</span>
                    <em>(required)</em>
                    @Html.TextBoxFor(model => model.TeamCount, new { @type = "number", @min = "0", required = "required" })
                </div>
                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Set Business Area</span>
                    <input type="text" id="txtAddress" name="txtAddress" placeholder="Search your area" required value="@Model.PostalCodesTbl.AreaName" />
                    <input type="hidden" id="hdAreaID" name="PostalCodeID" value="@Model.PostalCodeID" />
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-map-marker color-theme"></i>
                    <span class="color-highlight input-style-1-active">Address Line 1</span>
                    <em>(required)</em>
                    @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { required = "required", title = "Enter Address Line 1" } })
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-map-marker color-theme"></i>
                    <span class="color-highlight input-style-1-active">Address Line 2</span>
                    <em>(optional)</em>
                    @Html.EditorFor(model => model.AddressLine2)
                </div>
                <div class="input-style input-style-2 has-icon">
                    <i class="input-icon fa fa-globe color-theme"></i>
                    <span class="color-highlight input-style-1-active">Business Website</span>
                    <em>(optional)</em>
                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control", placeholder = "https://" } })
                </div>
                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Short Bio of your business</span>
                    <textarea id="ShortBio" name="ShortBio" class="form-control" style="height:100px;" placeholder="Short Bio of your business">@Model.ShortBio</textarea>
                </div>

                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Trade Test Certicate (pdf, image)</span>
                    <input id="TradeTestCerticate" class="form-control" type="file" name="TradeTestCerticate" />
                    <a href="@Model.TradeTestCerticate" target="_blank" class="p-2" style="@(string.IsNullOrEmpty(Model.TradeTestCerticate) ? "display:none;" : "")">
                        View Current File
                    </a>
                </div>

                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Police Clearance Certicate (pdf, image)</span>
                    <input id="PoliceClearance" class="form-control" type="file" name="PoliceClearance" />
                    <a href="@Model.PoliceClearance" target="_blank" class="p-2" style="@(string.IsNullOrEmpty(Model.PoliceClearance) ? "display:none;" : "")">
                        View Current File
                    </a>
                </div>

                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Reference letter from a rated company(pdf, image)</span>
                    <input id="ReferenceDoc" class="form-control" type="file" name="ReferenceDoc" />
                    <a href="@Model.ReferenceDoc" target="_blank" class="p-2" style="@(string.IsNullOrEmpty(Model.ReferenceDoc) ? "display:none;" : "")">
                        View Current File
                    </a>
                </div>

                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Banner Image</span>
                    <input id="BannerImage" class="form-control" onchange="readURL(this,'#imgpreview1');" type="file" name="BannerImage" />
                    <img id="imgpreview1" class="img-thumbnail" style="width:100px" alt="Preview" src="@Model.BannerImage" />
                </div>

                <div class="input-style input-style-2">
                    <span class="color-highlight input-style-1-active">Profile Logo</span>
                    <input id="ProfileImage" class="form-control" onchange="readURL(this,'#imgpreview2');" type="file" name="ProfileImage" />
                    <img id="imgpreview2" class="img-thumbnail" style="width:60px" alt="Preview" src="@Model.ProfileImage" />
                </div>
                <button id="btnsubmit" onclick="setprocessing()" type="submit" style="width:100%" class="btn btn-m btn-full mb-3 rounded-xl text-uppercase font-900 shadow-s bg-ba-theme">Update Now</button>
            </form>
        </div>
    </div>
</div>
