@model BridgingAfrica.ProviderEnquiryTbl
@{
    ViewBag.Title = "MyServiceDetails";
    Layout = "~/Areas/TradespersonApp/Views/Shared/_ProviderLayout.cshtml";
}
<script>
    function ConvertoJob(enqID) {
        var amount = 0;
        //if (amount == "") {
        //    alert('Please Enter Finalized Amount');           
        //}
        //else {
            $.ajax({
                url: '/api/ProviderApi/ConvertoJob?enqID=' + enqID + "&amount=" + amount,
                type: "Post",
                dataType: "JSON",
                beforeSend: function () {
                    $("body").mLoading();
                },
                success: function (json) {
                    $("body").mLoading('hide');
                    if (json.Status == "Success") {
                        $("#SuccessHeader").text("Success");
                        $("#SuccessDetail").text(json.Message);
                        $('#SuccessMessage').showMenu();
                        $('#BtnSuccess').click(function () {
                            window.location = "/TradespersonApp/Home/MyServices";
                        });
                    }
                    else {
                        $("#ErrorHeader").text("Alert");
                        $("#ErrorDetails").text(json.Message);
                        $('#ErrorMessage').showMenu();
                    }
                },
            });
        //}
    }
</script>
<div class="page-content">
    <div class="page-title page-title-small">
        <h2><a href="/TradespersonApp/Home/MyServices"><i class="fa fa-arrow-left"></i></a>Request Details</h2>
    </div>
    <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-ba-theme opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg"></div>
    </div>
    <div class="card card-style mt-2 mb-2">
        <div class="page-title page-title-small mb-2">
            <h4 class="text-center font-600">Request Details</h4>
        </div>
    </div>
    <div class="card card-style">
        <div class="page-title page-title-small mb-2">
            <p class="text-center">@Model.CategoryTbl.CategoryName <i class="fa fa-chevron-circle-right"></i> @Model.SubCategoryTbl.SubCategoryName</p>
            <h4 class="text-center font-500">@Model.ServiceTbl.ServiceName</h4>
        </div>
        <div class="content mb-0 mt-1 pt-2 mb-2">
            <h6 class="text-center font-500">Work Urgency: @Model.WorkerUrgency</h6>
            <h6 class="text-center font-500">Job Details: @Model.JobDetail</h6>
        </div>
    </div>
    <div class="card card-style mt-2 mb-2">
        <div class="page-title page-title-small mb-2">
            <h4 class="text-center font-600">Customer Information</h4>
        </div>
    </div>
    <div class="card card-style">
        <div class="content mb-0 mt-1 pt-2 mb-2">
            <h6 class="text-center font-500">Name: @Model.CustomerTbl.FirstName @Model.CustomerTbl.LastName </h6>
            <h6 class="text-center font-500">Contact No: @Model.CustomerTbl.MobileNo </h6>
            <h6 class="text-center font-500">Address: @Model.CustomerTbl.PostalCodesTbl.AreaName, @Model.CustomerTbl.AddressLine1<br />@Model.CustomerTbl.AddressLine2</h6>
            @if (Model.StatusID == 4)
            {
                <h5 class="font-600 mt-4 bg-ba-theme rounded-m p-2 text-center">This Request is completed.</h5>
            }
            else
            {
        <a href="#" data-menu="menu-confirm" class="btn btn-full btn-m shadow-l rounded-s bg-ba-theme text-uppercase font-900 mt-4 m-2">Request Completed?</a>
            }
        </div>
    </div>
</div>
<div id="menu-confirm" class="menu menu-box-modal rounded-m" data-menu-height="180" data-menu-width="330">
    <h2 class="text-center font-600 mt-3 pb-1">Request Completed?</h2>
    <p class="boxed-text-l">
        Are you sure you want to complete this Request?
    </p>
    <div class="content mb-0 mt-1 mb-2 pt-2" style="display:none">
        <div class="input-style input-style-2 has-icon">
            <i class="input-icon fa fa-dollar-sign color-theme"></i>
            <span class="color-highlight input-style-1-active">Finalized amount</span>
            <em>(required)</em>
            <input id="amount" name="amount" class="form-control" value="0" type="number" title="Enter Finalized amount" required>
        </div>
        <p class="text-center">Don't worry!! You can change this amount when invoicing.</p>
    </div>

    <div class="row m-3">
        <div class="col-6">
            <a href="#" onclick="ConvertoJob(@Model.Id);" class="btn btn-sm btn-full button-s shadow-l rounded-s text-uppercase font-900 bg-ba-theme">Yes</a>
        </div>
        <div class="col-6">
            <a href="#" class="close-menu btn btn-sm btn-full button-s shadow-l rounded-s text-uppercase font-900 bg-red1-dark">No</a>
        </div>
    </div>
</div>