
@{
    ViewBag.Title = "DASHBOARD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Customer Account</li>
                        </ul>
                        <h1 class="title">Dashboard</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="/assets/images/logo/logoheader.png" alt="Image" style="height:140px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-dashboard-area mb--80">
        <div class="container">
            <div class="row align-items-center">
                <div class="axil-dashboard-area mt--30">
                    <div class="container">
                        <div class="axil-dashboard-warp">
                            <div class="axil-dashboard-author">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="title mb-0">Hello @Session["CustomerName"]</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Action("_AccountDetail", "CustomerAccount")
                                <div class="col-xl-9 col-md-8">
                                    @if (TempData["SuccessMessage"] != null)
                                    {
                                        <div id="success-alert" class="alert alert-success text-center mb-3">@TempData["SuccessMessage"]</div>
                                    }
                                    <div class="axil-dashboard-overview">
                                        <section class="content">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="dashboard">
                                                        <h3 class="mb-2">@ViewBag.PendingQuotations</h3>
                                                        <h6>Pending Requests</h6>
                                                        <a href="/CustomerAccount/MyQuotations" class="small-box-footer">
                                                            View Details <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                @*<div class="col-lg-3">
                                                    <div class="dashboard">
                                                        <h3 class="mb-2">@ViewBag.PendingJobs</h3>
                                                        <h6>Pending Jobs</h6>
                                                        <a href="/Account/Address" class="small-box-footer">
                                                            View Details <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div>*@
                                                <div class="col-lg-3">
                                                    <div class="dashboard">
                                                        <h3 class="mb-2">@ViewBag.TotalQuotations</h3>
                                                        <h6>Total Requests</h6>
                                                        <a href="/CustomerAccount/MyQuotations" class="small-box-footer">
                                                            View Details <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                @*<div class="col-lg-3">
                                                    <div class="dashboard">
                                                        <h3 class="mb-2">@ViewBag.TotalJobs</h3>
                                                        <h6>Total Jobs</h6>
                                                        <a href="/Account/Address" class="small-box-footer">
                                                            View Details <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

